.input {
  border: 1px solid;
  border-radius: 3px;
  padding: 0.5em 1em;
  margin: 1em;
  height: 1em;
  font-size: 1rem;
  border: 1px solid #c3c6c8;
  width: 25em;

  -webkit-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
  -moz-box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
  box-shadow: 0px 5px 25px -11px rgba(0,0,0,0.38);
}

.input :focus {
  outline: none;
}
