.authContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100%;
}

.authInput {
  margin-top: 25vh;
}

.authMessage {
  padding: 0.5em 2em;
  text-transform: uppercase;
  border-radius: 5px;
  font-weight: bold;
  background-color: rgba(255,87,68,.15);
}

.success {
  background-color: rgba(66, 195, 90, 0.15);
}